extends layout

block content
	.index-title DTA crash reports

	table.list-of-records
		thead.table-header
			tr
				th Id
				th Date
				th DeviceId
				th App version
				th App environment
				th Electron version
				th Report
				th Manage
		tbody.table-body
			each record in records
				tr.record-row
					td #{record.id}
					td #{record.time.toLocaleString()}
					td #{record.deviceId}
					td #{record.appVersion}
					td #{record.appEnvironment}
					td #{record.version}
					td
						a(href='view/' + record.id) View
					td.delete-action(id=record.id) Delete

	script.
		$(document).ready(function(){
			$(".delete-action").click(function(e) {
				var key = prompt("Please enter API key:", "123-some-API-key");
				if (key === null) {
					return;
				}
				window.location.href = `delete-dump/${e.target.id}?key=${key}`;
			});
		});
